/*RESET*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
}

.cabecalho-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.menu-container {
    width: 100%;
    height: 130px;
    border: solid 1px red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-menu-container {
    width: 80%;
    height: 90px;
    border: solid 1px red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 70%;
    border: solid 1px red;
    display: flex;
    justify-content: space-around;
}
