/*RESET*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*FONTFACE*/

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
    overflow: hidden;
}

.cabecalho-container {
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    background: url('../img/1900x1200_img_7.jpg') no-repeat;
    background-size: cover;
    background-position: left;
}


.menu-container {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-menu-container {
    width: 80%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: white;
    font-family: Montserrat;
    display: block;
}

.menu a::after {
    content: ' ';
    height: 1px;
    background: white;
    width: 0;
    display: block;
    transition: all .4s;
}

.menu a:hover::after {
    width: 50%;
}

.logo {
    transform: translateX(-300px);
    transition: all .5s ease-in;
    display: block;
}

.logo > a {
    font-family: Montserrat;
    color: white;
    font-size: 24px;

}

.logo.logo-anime {
    display: block;
    transition: all .5s;
    transform: translateX(0px);
}


.container-text {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text {
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text > h1 {
    color: white;
    font-family: Montserrat;
    font-size: 65px;
}

.text > p {
    font-family: Montserrat;
    font-size: 20px;
    color: white;
}

.btn {
    color: white;
    font-family: Montserrat;
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    background-color: transparent;
    padding: 20px 15px;
    font-size: 20px;
    width: 40%;
    cursor: pointer;
    font-weight: 100;
    transition: all .2s;
}

.btn:hover {
    color: black;
    background: white;
}

.sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

#teste {
    width: 100%;
    height: 100vh;
}

.container-pai {
    display: none;
}

.caregando {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
